@charset "UTF-8";

.home-main-slider-container{
	margin: 0 auto;
	text-align: center;
}
	
/*바로가기(recommend,mostview) 중앙 배치*/
.home-main-content-top{
	display: flex;
	align-items: center;
	justify-content: center;
}
/*바로가기(new, best, sale) 중앙 배치*/
.home-main-content-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
}
/*바로가기(recommend,mostview) 글자 중앙 배치*/
.home-main-content-top div{
	font-size:30px;
	display:flex;
	align-items: center;
	justify-content: center;
	background: #804040;
	height: 250px;
	width: 600px;
}
/*바로가기(new, best, sale) 글자 중앙 배치*/
.home-main-content-bottom div{
	font-size:40px;
	display:flex;
	align-items: center;
	justify-content: center;
	background: gray;
	height: 250px;
	width: 400px
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-size: 0.75em;
	height: 100%;
}

.center h3{
	text-align: center;
	width: 80%;
}