@charset "UTF-8";

h3{
	font-size: 70px; 
	color: #505050;
}

#deleteFormArea{
	display:flex;
	justify-content:center;
	
}

table.type02 {
	border-collapse: separate;
	border-spacing: 1px;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	margin: 20px 10px;
}

table.type02 th {
	font-size: 20px;
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #efefef;
}

table.type02 td {
	width: 350px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.disMatch{
	color: red;	
}

#hint{
	font-size: 15px;
    padding: 4px;

}

.button{
	border: 1px solid #ccc;
	width: 150px;
	padding : 5px;
	font-size: 20px;
	cursor: pointer;
	background: black;
	color: white;
	margin-right: 5px;
	margin-top: 20px;
}

.button:hover{
	border: 1px solid #ccc;
	background: white;
	color: black;
}
div{
	text-align: center;
}