@charset "UTF-8";

h1{
	font-size: 70px; 
}
#loginFormArea {
	display:flex;
	justify-content:center;
	align-items:center;
	margin: auto;
	width: 400px;
	height: 300px;
	text-align: center;
	background: #f3f3f3;
	border-radius: 30;
}


#id{
	font-size: 15px;
    padding: 4px;
}

#password{
	font-size: 15px;
    padding: 4px;
}

.button{
	border: 1px solid #ccc;
	width: 150px;
	padding : 5px;
	font-size: 20px;
	cursor: pointer;
	background: black;
	color: white;
	margin-top: 30px;
	margin-right: 5px;
}

.button:hover{
	border: 1px solid #ccc;
	background: white;
	color: black;
}

table {
	font-size: 20px;
	width: 300px;
	margin: auto;
}

table td:nth-child(1) {
	text-align: right;
	width: 180px
}

table td:nth-child(2) {
	width: 200px
}