@charset "UTF-8";

h1{
    font-size: 83px;
}

#mypage {
	text-align: center;
}

.box1 {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 10px;
}

.box2 {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 10px;
}

.box3 {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 10px;
}

.box4 {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 10px;
}

.box5 {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 10px;
}
