@charset "UTF-8";

h2{
	font-size: 83px; 
}

#registerFormArea{
	display:flex;
	justify-content:center;
	align-items:center;
	margin: auto;
	
}

table.type02 {
	border-collapse: separate;
	border-spacing: 1px;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	margin: 20px 10px;
}

table.type02 th {
	font-size: 20px;
	width: 150px;
	padding: 30px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #efefef;
}

table.type02 td {
	font-size: 20px;
	width: 350px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

#hint{
	font-size: 15px;
    padding: 4px;

}

#sample4_postcode{
	font-size: 15px;
    padding: 4px;
}

#sample4_roadAddress{
	font-size: 15px;
    padding: 4px;
    width: 300px;
}

#sample4_jibunAddress{
	width: 300px;
	font-size: 15px;
    padding: 4px;
}

#sample4_detailAddress{
	font-size: 15px;
    padding: 4px;
}

#sample4_extraAddress{
	font-size: 15px;
    padding: 4px;
}

#findButton{
	font-size: 15px;
	background-color: #383838;
    border: 1px solid #888888;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: -1px;
    margin: 2px 3px;
    width: auto;
    word-break: keep-all;
    border-radius: 5px;
    text-decoration: none;
}

.button{
	border: 1px solid #ccc;
	width: 150px;
	padding : 5px;
	font-size: 20px;
	cursor: pointer;
	background: black;
	color: white;
	margin: 5px;
}

.button:hover{
	border: 1px solid #ccc;
	background: white;
	color: black;
}

div{
	text-align: center;
}