<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shop.mapper.admin.product.adminProductMapper">

 <!-- PRODUCT -->
	<resultMap id="adminProductResult" type="ProductDTO">
	
		<result property="proNum" column="pro_num" />
		<result property="proName" column="pro_name" />
		<result property="proPrice" column="pro_price" />
		
		<result property="proSalesrate" column="pro_salesrate" />
		<result property="proCategory" column="pro_category" />
		<result property="proStatus" column="pro_status" />
		
		<result property="proImgfileName" column="pro_imageFileName" />
		<result property="proCreDate" column="pro_cre_date" />
		<result property="proContent" column="pro_content" />
		
		<result property="proSize" column="pro_size" />
		<result property="proColor" column="pro_color" />
		<result property="proQuantity" column="pro_quantity" />
		<result property="proHits" column="pro_hits" />
		<result property="proSold" column="pro_sold" />
		
	</resultMap>
	
	<resultMap id="productDetailResult" type="productImageDTO">
	
		<result property="proImgCode" column="pro_img_code" />
		<result property="proNum" column="pro_num" />
		<result property="proImagefilename" column="pro_imagefilename" />
		<result property="proImgState" column="pro_img_state" />
		
	</resultMap>
	<!-- 총 제품 수 -->
	<select id="selectTotalProducts" resultType="int" >
			select count(pro_num) from product	
	</select>
	<!-- 신상품 -->
	<select id="selectNewProducts" resultType="int" >
			select count(pro_num) from product	where pro_status='신상'
	</select>
	<!-- 판매량이 많은 제품 -->
	<select id="selectBestProducts" resultType="int" >
			select count(pro_num) from product	where pro_status='최고'
	</select>
	<!-- 세일중인 제품 -->
	<select id="selectOffProducts" resultType="int" >
			select count(pro_num) from product	where pro_status='세일'
	</select>
	<!-- 추천상품 -->
	<select id="selectSteadyProducts" resultType="int" >
			select count(pro_num) from product	where pro_status='추천'
	</select>
	<!-- 판매 중지된 상품 -->
	<select id="selectOutProducts" resultType="int" >
			select count(pro_num) from product	where pro_status='품절'	
	</select>
	<!-- 조건 별 제품 리스트 뽑아오기 -->
	<select id="selectAllProducts" parameterType="java.util.Map" resultMap="adminProductResult">
		SELECT a.*
  		  FROM (SELECT FORMAT(@ROWNUM := @ROWNUM+1, 0) AS rn ,b.*,c.pro_imagefilename
		          FROM product b JOIN pro_img c ON b.pro_num = c.pro_num
		         WHERE (@ROWNUM:=0)=0
		 		       AND c.pro_img_state=1
		<if test="pro_category !=null and !pro_category.equals('')">
					   AND b.pro_category=#{pro_category}
		</if>
		<if test="pro_status !=null and !pro_status.equals('all') ">
					   AND b.pro_status=#{pro_status}
		</if>
		<if test="keyword !=null and !keyword.equals('')">
					   AND b.pro_name LIKE CONCAT('%','','%')
		</if>
					 ORDER BY
		<if test="order_price !=null and !order_price.equals('')">
			<choose>
				<when test="order_price.equals('price_desc')">
					b.pro_price DESC ,
				</when>
				<when test="order_price.equals('price_asc')">
					b.pro_price ASC ,
				</when>
			</choose>
		</if>
		<if test="order_salesRate !=null and !order_salesRate.equals('')">
			<choose>
				<when test="order_salesRate.equals('salesRate_desc')">
					b.pro_salesrate DESC ,
				</when>
				<when test="order_salesRate.equals('salesRate_asc')">
					b.pro_salesrate ASC ,
				</when>
			</choose>
		</if>
		<if test="order_count !=null and !order_count.equals('')">
			<choose>
				<when test="order_hits.equals('hits_desc')">
					b.pro_hits DESC ,
				</when>
				<when test="order_hits.equals('hits_asc')">
					b.pro_hits ASC ,
				</when>
			</choose>
		</if>
					b.pro_code)a
		 WHERE rn
		 	BETWEEN
		 	(#{section,jdbcType=NUMERIC}-1)*200+(#{pageNum,jdbcType=NUMERIC}-1)*20+1
			AND
		 	(#{section,jdbcType=NUMERIC}-1)*200+#{pageNum,jdbcType=NUMERIC}*20
	</select>
	
	<!-- 검색한 제품 수 -->
	<select id="selectedTotalProducts" resultType="int" parameterType="map">
		SELECT count(pro_num)
		  FROM product
		 WHERE pro_num >0
	    <if test="pro_category !=null and !pro_category.equals('')">
			AND pro_category=#{pro_category}        
	    </if>
	    <if test="pro_status !=null and !pro_status.equals('all') ">
			AND pro_status=#{pro_status}        
	    </if>
	    <if test="keyword !=null and !keyword.equals('')">
	        AND pro_name like CONCAT('%',#{keyword},'%')
	    </if>
	</select>
</mapper>