<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shop.mapper.order.CartMapper">

	<resultMap type="CartDTO" id="ResCart">
			<id property="cartNum" column="cart_num"/>
			<result property="cartProQuantity" column="cart_pro_quantity"/>
			<association property="memberId" javaType="MemberDTO" autoMapping="true">
				<result property= "memberId" column="cart_member_id"/>
			</association>
			<association property="cartProNum" javaType="ProductDTO" autoMapping="true">
				<result property="proNum" column="cart_pro_num"/>
				<result property="proImgfileName" column="pro_imagefilename"/>
				<result property="proQuantity" column="pro_quantity"/>
			</association>
	</resultMap>

	<sql id="selectSQL">
		select cart_num, c.cart_member_id, c.cart_pro_num, cart_pro_quantity, p.pro_imagefilename, p.pro_name, p.pro_price,p.pro_size, p.pro_salesrate, p.pro_color, p.pro_quantity 
 		  from cart c join productall p on c.cart_pro_num = p.pro_num 
	</sql>

	<sql id="whereSQL">
		<where>
			<if test="cartNum != 0">
				and cart_num = #{cartNum}
			</if>
			<if test="memberId != null">
				and cart_member_Id =#{memberId.memberId}
			</if>
			<if test="cartProNum != null">
				and cart_pro_num =#{cartProNum.proNum}
			</if>		
		</where>
	</sql>
	
	<select id="flagInCart" parameterType="String" resultType="String">
			select if(count(cart_pro_num)=0,'false','true')
			  from cart
			 where cart_member_Id=#{memberId}
	</select>
		
		
	<select id="selectCartByMemberId" resultMap="ResCart">
		<include refid="selectSQL"></include>
        <include refid="whereSQL"></include>
	</select>
	
	<!-- 장바구니에 몇개의 제품이?? -->
	<select id="selectCountCart" parameterType="String" resultType="String">
		select count(cart_num)
		  from cart
		 WHERE cart_member_Id = #{memberId};
	</select>
	
	<select id="chooseCartByMemberId" resultMap="ResCart">
		<include refid="selectSQL"></include>
		<where>
			cart_num in
				<foreach  collection="list" item = "cartNum" index = "index" open = "(" close = ")" separator=",">
					#{cartNum}
				</foreach>
		</where>
	</select>
	
 	<insert id="insertCart">
		INSERT INTO cart
			(cart_member_Id, cart_pro_num, cart_pro_quantity)
		  values
			(#{memberId.memberId}, #{cartProNum.proNum}, #{cartProQuantity})
	</insert>
 
	<delete id="deleteCart">
		delete 
		   from cart
		where cart_num = #{cart_num}
	</delete>
	
	<delete id="deleteCarts">
		delete 
		   from cart
		<where>
			cart_num in
				<foreach  collection="list" item = "cartNum" index = "index" open = "(" close = ")" separator=",">
					#{cartNum}
				</foreach>
		</where>
	</delete>
	
	<update id="updateCart">
		update cart
		   	 set cart_pro_quantity = #{cartProQuantity}
	     where cart_num= #{cartNum}
	</update>
	
</mapper>