<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shop.mapper.order.MyOrderListMapper">
	<resultMap type="ProductDTO" id="resProduct">
		<id property="proNum" column="pro_num" />
		<result property="proName" column="pro_name" />
		<result property="proColor" column="pro_color"/>
		<result property="proSize" column="pro_size"/>
		<result property="proPrice" column="pro_price"/>
		<result property="proImgfileName" column="pro_imagefilename" />
		<collection property="orderCode" resultMap="resOrderCode"></collection>
	</resultMap>
	
	<resultMap type="OrderDTO" id="resOrderCode">
		<id property="orderProNum" column="order_pro_num"/>
		<result property="orderCode" column="order_code"/>
	</resultMap>

	<resultMap type="OrderDTO" id="resOrder">
		<id property="orderProNum" column="order_pro_num" />
		<result property="memberId" column="order_member_id" />
		<result property="orderDate" column="order_date" />
		<result property="orderProQuantity" column="order_pro_quantity" />
		<result property="orderPrice" column="order_price" />
		<result property="proNum" column="pro_num" />
		<result property="deliveryStatus" column="delivery_status" />
		<collection property="productDTO" resultMap="resProduct">
			<result property="proName" column="pro_name" />
		</collection>
	</resultMap>

	<resultMap type="OrderDTO" id="resDetailOrder">
		<id property="orderProNum" column="order_pro_num" />
		<result property="orderPrice" column="order_price" />
		<result property="orderProQuantity" column="order_pro_quantity" />
		<result property="deliveryStatus" column="delivery_status" />
		<result property="orderDate" column="order_date" />
		<result property="orderMemberName" column="order_member_name" />
		<result property="receiverTel1" column="receiver_tel1" />
		<result property="receiverTel2" column="receiver_tel2" />
		<result property="deliveryAddr1" column="delivery_addr1" />
		<result property="deliveryAddr2" column="delivery_addr2" />
		<result property="deliveryAddr3" column="delivery_addr3" />
		<result property="requestToDelivery"
			column="request_to_delivery" />
		<collection property="productDTO" resultMap="resProduct">
			<result property="proNum" column="pro_num"/>
			<result property="proName" column="pro_name" />
			<result property="orderCode" column="order_code"/>
		</collection>
	</resultMap>

	<select id="selectOrderByMember" resultMap="resOrder">
		select
		o.order_member_id, o.order_pro_num, o.order_code, p.pro_num, p.pro_name,
		o.order_date, 
		o.order_pro_quantity,
		o.order_price, o.delivery_status
		from `order` o
		join product p
		on o.pro_num = p.pro_num
		where
		order_member_id = #{memberId}
	</select>

	<select id="selectOrderDetailByMember"
		resultMap="resDetailOrder">
		SELECT DISTINCT o.order_pro_num, o.order_code, pi2.pro_imagefilename, p.pro_num, p.pro_name, p.pro_color, p.pro_size, p.pro_price,
		o.order_pro_quantity, o.delivery_status, o.order_date,
		o.order_member_name , o.receiver_tel1, o.receiver_tel2,
		o.delivery_addr1 , o.delivery_addr2, o.delivery_addr3,
		o.request_to_delivery
		from `order` o
		join pro_img pi2
		on o.pro_num = pi2.pro_num
		join product p
		on o.pro_num = p.pro_num
		where o.order_member_id = #{memberId} and order_pro_num = #{orderProNum}
	</select>
</mapper>