<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shop.mapper.order.MyOrderListMapper">
	<resultMap type="OrderDTO" id="resOrder">
		<id property="orderProNum" column="order_pro_num" />
		<result property="orderDate" column="order_date" />
		<result property="orderProQuantity" column="order_pro_quantity" />
		<result property="orderPrice" column="order_price" />
		<result property="deliveryStatus" column="delivery_status" />
		<association property="proName" javaType="ProductDTO"
			autoMapping="true">
			<result property="proName" column="pro_name" />
		</association>
	</resultMap>

	<select id="selectOrderByMember" resultMap="resOrder">
		select o.order_pro_num, p.pro_name, o.order_date, o.order_pro_quantity,
		o.order_price, o.delivery_status
		from `order` o
		join product p
		where order_member_id = #{memberId}
	</select>

</mapper>