<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shop.mapper.review.MyReviewMapper">

	<resultMap type="ReviewDTO" id="resReview">
		<id property="reviewNum" column="re_num" />
		<result property="proNum" column="pro_num"/>
		<result property="reviewImagefilename1" column="re_image" />
		<result property="reviewImagefilename2" column="re_image2"/>
		<result property="reviewContent" column="re_content" />
		<result property="reviewStar" column="re_stars" />
		<result property="reviewDate" column="re_date" />
		<association property="proName" javaType="ProductDTO"
			autoMapping="true">
			<result property="proName" column="pro_name" />
		</association>
	</resultMap>

	<resultMap type="ReviewDTO" id="resDetailReview">
		<id property="proNum" column="pro_num" />
		<result property="reviewStar" column="re_stars" />
		<result property="reviewContent" column="re_content" />
		<result property="reviewImagefilename1" column="re_image"/>
		<result property="reviewImagefilename2" column="re_image2"/>
		<association property="proImagefilename"
			javaType="ProductImageDTO" autoMapping="true">
			<result property="proImagefilename" column="pro_imagefilename" />
		</association>
		<association property="proName" javaType="ProductDTO"
			autoMapping="true">
			<result property="proName" column="pro_name" />
			<result property="proColor" column="pro_color" />
			<result property="proSize" column="pro_size" />
		</association>
	</resultMap>

	<resultMap type="QnaDTO" id="resQna">
		<id property="qIndex" column="q_index" />
		<result property="qFile" column="q_file" />
		<result property="qTitle" column="q_title" />
		<result property="qMember" column="q_member" />
		<result property="qDate" column="q_date" />
	</resultMap>

	<select id="selectReviewByMember" resultMap="resReview">
		select r.re_num,
		p.pro_num, p.pro_name, r.re_image, r.re_image2,
		r.re_content, r.re_stars, r.re_date
		from review
		r
		join product p
		on
		r.pro_num = p.pro_num
		where r.re_member = #{memberId};
	</select>

	<select id="selectQnaByMember" resultMap="resQna">
		select q_index, q_file,
		q_title, q_member, q_date
		from qna
		where q_member = #{memberId};
	</select>

	<select id="selectDetailReviewByMember"
		resultMap="resDetailReview">
		select p.pro_num,pi2.pro_imagefilename, p.pro_name, p.pro_color, p.pro_size,
		r.re_stars, r.re_content, r.re_image, r.re_image2
		from review r
		join product p
		on r.pro_num = p.pro_num
		join pro_img pi2
		on p.pro_num = pi2.pro_num
		where r.re_member = #{memberId} and p.pro_num = #{proNum}
	</select>
</mapper>