<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shop.mapper.order.OrderMapper">
	
	<select id="selectAddress" resultType="AddressDTO">
		 select addr_num,m_id,m_addr1,m_addr2,m_addr3 
  	  	  from address
		where m_id = #{memberId} and m_addr1 = #{memberAddr1} and m_addr2 = #{memberAddr2} and m_addr3 = #{memberAddr3};
	</select>
	
	<insert id="insertOrder">
		INSERT INTO proj21_shop.`order`
			(order_member_id, pro_num, order_member_name, order_pro_quantity, order_price, order_discount
			, receiver_name, receiver_tel1, receiver_tel2, delivery_addr1, delivery_addr2, delivery_addr3
			, request_to_delivery, who_pay, which_bank)
		 values
			(#{orderMemberId}, #{proNum}, #{orderMemberName}, #{orderProQuantity}, #{orderPrice}, #{orderDiscount}
			, #{receiverName}, #{receiverTel1}, #{receiverTel2}, #{deliveryAddr1}, #{deliveryAddr2}, #{deliveryAddr3}
			, #{requestToDelivery}, #{whoPay}, #{whichBank});
	</insert>
	
	<insert id="insertMemberAddress">
		INSERT INTO proj21_shop.address
			(m_id,  m_addr1, m_addr2, m_addr3)
		 values
			(#{memberId}, #{memberAddr1}, #{memberAddr2}, #{memberAddr3})
	</insert>
	
	<update id="updateMember">
		update `member` 
       		 set  m_point = #{memberPoint} , m_total_buy = m_total_buy + #{memberTotalBuy} , m_total_order = m_total_order + #{memberTotalOrder}
 		where  m_id = #{memberId} ;	
	</update>
	
	<update id="updateProduct">
		update product 
	   		 set pro_quantity = pro_quantity - #{proQuantity} , pro_sold = pro_sold + #{proSold}
		 where pro_num = #{proNum.pronum};
	</update>	
</mapper>