<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shop.mapper.order.OrderMapper">
	
	<resultMap type="AddressDTO" id="ResAddress">
		<result column="m_id" property="memberId"/>
		<result column="m_addr1" property="memberAddr1"/>
		<result column="m_addr1" property="memberAddr2"/>
		<result column="m_addr1" property="memberAddr3"/>
	</resultMap>
	
	<select id="selectAddress" resultMap="ResAddress">
		 select addr_num,m_id,m_addr1,m_addr2,m_addr3 
  	  	  from address
		where m_id = #{memberId} and m_addr1 = #{memberAddr1} and m_addr2 = #{memberAddr2} and m_addr3 = #{memberAddr3};
	</select>
	
	<insert id="insertOrder">
		<selectKey resultType="int" keyProperty="orderProNum" order="BEFORE">
        SELECT MAX(order_pro_num)+1 FROM `order`        
    	</selectKey>
		INSERT INTO proj21_shop.`order`
						(order_pro_num,order_member_id, pro_num, order_member_name, order_pro_quantity, order_price, order_discount, 
 						receiver_name, receiver_tel1, receiver_tel2, delivery_addr1, delivery_addr2, delivery_addr3, request_to_delivery, who_pay, which_bank)
		 values
		 <foreach collection="list" item="item" separator="," index="index">
			(#{orderProNum},#{item.orderMemberId}, #{item.proNum}, #{item.orderMemberName}, #{item.orderProQuantity}, #{item.orderPrice}, #{item.orderDiscount}
			, #{item.receiverName}, #{item.receiverTel1}, #{item.receiverTel2}, #{item.deliveryAddr1}, #{item.deliveryAddr2}, #{item.deliveryAddr3}
			, #{item.requestToDelivery}, #{item.whoPay}, #{item.whichBank})
		</foreach>
	</insert>
	
	<insert id="insertMemberAddress">
		INSERT INTO proj21_shop.address
			(m_id,  m_addr1, m_addr2, m_addr3)
		 values
			(#{memberId}, #{memberAddr1}, #{memberAddr2}, #{memberAddr3})
	</insert>
	
	<update id="updateMember">
		update `member` 
       		 set  m_point = m_point + #{memberPoint} , m_total_buy = m_total_buy + #{memberTotalBuy} , m_total_order = m_total_order + #{memberTotalOrder}
 		where  m_id = #{memberId} ;	
	</update>
	
	<update id="updateProduct">
		update product 
	   		 set pro_quantity = pro_quantity - #{proQuantity} , pro_sold = pro_sold + #{proSold}
		 where pro_num = #{proNum};
	</update>	
	
	<delete id="deletCart">
		delete 
 		  from cart
		where cart_member_Id = #{orderMemberId} and cart_pro_num = #{proNum}
	</delete>
	
	<select id="selectProdByProNum" resultType="ProductDTO">
		select pro_num ,pro_quantity, pro_price, pro_salesrate
  	      from product
		where pro_num = #{proNum} 
	</select>
	
	<select id="selectLastCartNum" resultType="int">
		select * 
		  from cart order by cart_num 
		desc limit 1
	</select>
</mapper>