<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shop.mapper.product.ProductListMapper">

	<resultMap type="ProductImageDTO" id="ResProductImg">
		<id column="pro_img_code" property="proImgCode" />
		<result column="pro_imagefilename" property="proImagefilename" />
		<result column="pro_img_state" property="proImgState" />
		<result column="pro_num" property="proNum"/>
	</resultMap>

	<resultMap type="ProductDTO" id="ResProduct">
		<id column = "pro_num" property="proNum" />
		<result column="pro_category" property="proCategory" />
		<result column="pro_name" property="proName" />
		<result column="pro_price" property="proPrice" />
		<result column="pro_content" property="proContent" />
		<result column="pro_salesrate" property="proSalesrate" />
		<result column="pro_cre_date" property="proCreDate" />
		<result column="pro_status" property="proStatus" />
		<result column="pro_color" property="proColor" />
		<result column="pro_size" property="proSize" />
		<result column="pro_quantity" property="proQuantity" />
		<result column="pro_sold" property="proSold" />
		<result column="pro_hits" property="proHits" />
		<result column="re_replyCount" property="reReplyCount" />
		<result column="pro_imagefilename" property="proImgfileName"/>
	</resultMap>
	
	<sql id="selectProductJoinProductImageSQL">
		 select  p.pro_num,pro_category,pro_name,pro_price,pro_content,pro_salesrate
		          ,pro_cre_date,pro_status,pro_color,pro_size,pro_quantity,pro_sold,pro_hits,re_replyCount
		          ,pro_img_code,pro_imagefilename,pro_img_state
          from  product p join pro_img i on p.pro_num = i.pro_num
	</sql>

	<!-- 옷 상세정보 보기 -->
	<select id="selectProductDetailByProNum" parameterType="int" resultMap="ResProduct">
		<include refid="selectProductJoinProductImageSQL"></include>
		where p.pro_num like CONCAT(#{param1},'%')
	</select>
	
	<!-- 옷 상세정보 들어갔을때 조회수+1  -->
	<update id="updateProhits">
		update product 
             set pro_hits = pro_hits + 1 
         where pro_num = #{param1};
	</update>
	
	<!--  제품 목록 페이징 -->
	<select id="selectProductSale" parameterType="Map" resultMap="ResProduct">
		SELECT DISTINCT  a.*
		  FROM  (select FORMAT(@ROWNUM := @ROWNUM + 1, 0) as rn,
							  pro_num, pro_category, pro_name, pro_price, pro_salesrate, pro_cre_date,
							  pro_status, pro_color, pro_size, pro_quantity, pro_hits, pro_imagefilename
				      from ( select  @ROWNUM := 0 ) R, productall
				  			   where  pro_size = 1
				  			   <trim prefix="">
				  			   		<if test="search.isEmpty"></if>
				  			   		<if test="search != 'null'">and pro_name like concat('%',#{search},'%')</if>
				  			   		<if test="proCategory == 0"> and pro_salesrate != 0</if>
		 							<if test="proCategory > 0">and pro_category = #{proCategory}</if>
		 					   </trim>
				  			   <trim prefix="and pro_price between">
						    	 	<if test="priceRange == 1">10000 and 30000</if>
						    	 	<if test="priceRange == 2">30000 and 50000</if>
						    	 	<if test="priceRange == 3">50000 and 80000</if>
						    	 	<if test="priceRange == 4">80000 and 100000</if>
						       </trim>
						       <trim prefix="">
						     		<if test="priceRange == 5">and pro_price > 100000</if>
						       </trim>
							   <trim prefix="order by">
									<if test="orderKind == 'asc'">pro_price*(100-pro_salesrate) asc</if>   
									<if test="orderKind == 'desc'">pro_price*(100-pro_salesrate) desc</if>   
									<if test="orderKind == '신상'">'신상'</if>   
									<if test="orderKind == 'proHits'">pro_hits desc</if>   
						       </trim>) a
				    where pro_size = 1
	          				 AND rn BETWEEN (#{section,jdbcType=NUMERIC}-1) * 80 +(#{pageNum,jdbcType=NUMERIC}-1) * 8 + 1 
	          				 AND (#{section,jdbcType=NUMERIC}-1) * 80 +#{pageNum,jdbcType=NUMERIC} * 8
	</select>
	
	<!--  제품 목록 세일 카운트 -->
	<select id="selectCountByProductSale" parameterType="Map" resultType="int">
		  select count(*)
  		   from productall
		 where pro_size = 1 and pro_salesrate != 0
		 <trim prefix="">
			<if test="search != 'null'">and pro_name like concat('%',#{search},'%')</if>
		 </trim>
		 <trim prefix="and pro_price between">
			<if test="priceRange == 1">10000 and 30000</if>
			<if test="priceRange == 2">30000 and 50000</if>
			<if test="priceRange == 3">50000 and 80000</if>
			<if test="priceRange == 4">80000 and 100000</if>
		 </trim>
		 <trim prefix="">
			<if test="priceRange == 5">and pro_price > 100000</if>
		 </trim>  
	</select>

	<!-- 메인화면 제품 목록(new,recommend,mostview,new,best,sale -->
	<select id="selectProductMain" parameterType="Map" resultMap="ResProduct">
		  select * 
   		   from productall 
		 where pro_size =1
		 <trim prefix="">
    	 		<if test="proStatus == 'RECOMMEND'">and pro_status = '추천'</if>
    	 		<if test="proStatus == 'SALE'">and pro_status = '세일'</if>
    	 		<if test="proStatus == 'NEW'">and pro_status = '신상'</if>
    	 		<if test="proStatus == 'BEST'">and pro_status = '최고'</if>
    	 </trim>
    	 order by pro_price desc
		 limit 8
	</select>
	
</mapper>