<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shop.mapper.ProductMapper">

	<resultMap type="ProductDTO" id="ResProduct">
		<id column = "pro_num" property="proNum" />
		<result column="pro_category" property="proCategory" />
		<result column="pro_name" property="proName" />
		<result column="pro_price" property="proPrice" />
		<result column="pro_content" property="proContent" />
		<result column="pro_salesrate" property="proSalesrate" />
		<result column="pro_cre_date" property="proCreDate" />
		<result column="pro_status" property="proStatus" />
		<result column="pro_color" property="proColor" />
		<result column="pro_size" property="proSize" />
		<result column="pro_quantity" property="proQuantity" />
		<result column="pro_sold" property="proSold" />
		<result column="pro_hits" property="proHits" />
		<result column="re_replyCount" property="reReplyCount" />
	</resultMap>

</mapper>