<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shop.mapper.product.ProductListMapper">

	<resultMap type="ProductImageDTO" id="ResProductImg">
		<id column="pro_img_code" property="proImgCode" />
		<result column="pro_imagefilename" property="proImagefilename" />
		<result column="pro_img_state" property="proImgState" />
		<result column="pro_num" property="proNum"/>
	</resultMap>

	<resultMap type="ProductDTO" id="ResProduct">
		<id column = "pro_num" property="proNum" />
		<result column="pro_category" property="proCategory" />
		<result column="pro_name" property="proName" />
		<result column="pro_price" property="proPrice" />
		<result column="pro_content" property="proContent" />
		<result column="pro_salesrate" property="proSalesrate" />
		<result column="pro_cre_date" property="proCreDate" />
		<result column="pro_status" property="proStatus" />
		<result column="pro_color" property="proColor" />
		<result column="pro_size" property="proSize" />
		<result column="pro_quantity" property="proQuantity" />
		<result column="pro_sold" property="proSold" />
		<result column="pro_hits" property="proHits" />
		<result column="re_replyCount" property="reReplyCount" />
		<result column="pro_imagefilename" property="proImgfileName"/>
	</resultMap>
	
	<sql id="selectProductJoinProductImageSQL">
		 select  p.pro_num,pro_category,pro_name,pro_price,pro_content,pro_salesrate
		          ,pro_cre_date,pro_status,pro_color,pro_size,pro_quantity,pro_sold,pro_hits,re_replyCount
		          ,pro_img_code,pro_imagefilename,pro_img_state
          from  product p join pro_img i on p.pro_num = i.pro_num
	</sql>
	
	<!-- 옷카테고리별 목록 검색 -->
	<select id="selectProductByProImgState" parameterType="int" resultMap="ResProduct">
		<include refid="selectProductJoinProductImageSQL"></include>
		where pro_img_state = #{param1} and pro_category = #{param2} and pro_size = 1
	</select>

	<!-- 옷 상세정보 보기 -->
	<select id="selectProductDetailByProNum" parameterType="int" resultMap="ResProduct">
		<include refid="selectProductJoinProductImageSQL"></include>
		where p.pro_num like CONCAT(#{param1},'%')
	</select>
	
	<!-- 옷 상세정보 들어갔을때 조회수+1  -->
	<update id="updateProhits">
		update product 
             set pro_hits = pro_hits + 1 
         where pro_num = #{param1};
	</update>
</mapper>