<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj21_shop.mapper.qna.QnaMapper">
	 <resultMap type="QnaDTO" id="resQna">
	 	<id column ="q_op" property="qOp"/>
		<result column="q_member" property="qMember"/>
		<result column="q_title" property="qTitle"/>
		<result column="q_date" property="qDate"/>
		<result column="q_hits" property="qHit"/>
		<result column="q_option" property="qOption"/>
	</resultMap>
	
	<resultMap type="QnaDTO" id="ArticleResultMap">
		<id column ="q_index" property="qIndex"/>
		<result column="q_op" property="qOp"/>
		<result column="q_title" property="qTitle"/>
		<result column="q_option" property="qOption"/>
		<result column="q_member" property="qMember"/>
		<result column="q_content" property="qContent"/>
		<result column="q_file" property="qFile"/>
		<result column="q_date" property="qDate"/>
		<result column="q_hits" property="qHit"/>
		<result column="q_group" property="qGroup"/>
		<result column="q_indent" property="qIndent"/>
		<result column="q_step" property="qStep"/>
	</resultMap>
	
	<sql id="search">
		<where>
				and q_index > 0  
			<if test="searchType != null">
				and q_title like concat('%', '${keyword}','%') 
				<if test="searchType == 'b'.toString()">
					and q_option like concat('%', '공지', '%')  
					and q_title like concat('%', '${keyword}','%') 
				</if>
				<if test="searchType == 'c'.toString()">
					and q_option like concat('%', '제품문의', '%')
					and q_title like concat('%', '${keyword}','%')
				</if>
				<if test="searchType == 'd'.toString()">
					and q_option like concat('%', '환불문의', '%') 
					and q_title like concat('%', '${keyword}','%')
				</if>
				<if test="searchType == 'e'.toString()">
					and q_option like concat('%', '포인트 º 적립금', '%') 
					and q_title like concat('%', '${keyword}','%')
				</if>
				<if test="searchType == 'f'.toString()">
					and q_option like concat('%', '회원관련', '%') 
					and q_title like concat('%', '${keyword}','%')
				</if>
				<if test="searchType == 'g'.toString()">
					and q_option like concat('%', '주문결제', '%') 
					and q_title like concat('%', '${keyword}','%')
				</if>
				<if test="searchType == 'h'.toString()">
					and q_option like concat('%', '기타', '%') 
					and q_title like concat('%', '${keyword}','%')
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 검색어 기능 --> 
		<select id="listSearch" resultMap="ArticleResultMap">
		<![CDATA[
			select q_index,q_title,q_option,q_member,q_content,q_file,q_date,q_hits,q_group,q_indent,q_step,
				case q_option
					when q_option = '공지' then q_index 
					else '공지' 
				end 'q_op'
					from qna 
			]]> 
				<include refid="search"/>
		<![CDATA[
					order by	q_op desc, q_index desc, q_date desc
			limit #{pageStart}, #{perPageNum}
		]]>
		</select>
		
		<select id="countSearchedArticles" resultType="int">
			<![CDATA[
				select 
						count(q_index)   
					from qna 
			]]>
			<include refid="search"/>
		</select>
	
	
	
	 <select id="countArticles" resultType="int">
	 <![CDATA[
		select 
			count(q_index)  
		from qna 
		where q_index > 0
	]]>
	</select>
	
	<!-- 페이지 번호 받아오는 쿼리 ex([이전] 1,2,3,4,5,6,7,8,9,10 [다음]) 요론곳 -->
	<select id="listPaging" resultMap="ArticleResultMap">
	<![CDATA[
		select q_index,q_title,q_option,q_member,q_content,q_file,q_date,q_hits,q_group,q_indent,q_step
				from qna 
					where q_index >0
				order by	q_index desc, q_date desc
		limit #{page}, 10
	]]> 
	</select>
	
	
	<!-- 페이징 하는곳에 목록창(1 페이지에 10개뛰우기, 2페이지에 10개뛰우기)  -->
	<select id="listCriteria" resultMap="ArticleResultMap">
		<![CDATA[
		select q_index,q_title,q_option,q_member,q_content,q_file,q_date,q_hits,q_group,q_indent,q_step,
			case q_option
				when q_option = '공지' then q_index 
				else '공지' 
			end 'q_op'
				from qna 
					where q_index >0
				order by	q_op desc, q_date desc
		limit #{pageStart}, #{perPageNum}
		]]> 
		</select>
		
		
		
		
</mapper>