@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap')
	;

/* Fontawesome 4.7 */
@import
	url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
	;

h2 {
	text-align: center;
	color: #505050;
    font-size: 35px;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	height: 100vh;
	font-size: 16px;
	text-align: center;
}
.asd {
	display: flex;
	justify-content: center;
	align-items: center;
}

li {
	list-style: none;
}

.bsd {
	display: flex;
	justify-content: center;
	align-items: center;
}

.star-rating {
	width: 250px;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
}

.star-rating div {
	float: left;
	width: 50%;
}

.stars {
	
}

.stars .fa {
	font-size: 18px;
	cursor: pointer;
}

.stars .fa.active {
	color: yellow;
	text-shadow: 0 0 5px gray;
}

.print {
	color: black;
}

.review {
	text-align: center;
}

#insert {
	border: 1px solid #ccc;
    width: 150px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    background: black;
    color: white;
    margin-right: 5px;
    margin-top: 30px;
}

#modify {
	border: 1px solid #ccc;
    width: 150px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    background: black;
    color: white;
    margin: 5px;
}

