@charset "UTF-8";

footer h3{					
	margin-top: 0px;			
}

footer {
	border-top: 1px solid gray;
	margin: auto;
	margin-top: 20px;
}

footer section {
	width: 30%;
	float: left;
	margin: 5px;
}

.bottom1 {
	font-size: 15px;	
}

.bottom2 span{
	font-weight: bold;
}

.bottom3 span{
	font-weight: bold;
}

.bottom2 {
	font-size: 18px;
	text-align:left;
	padding-left:45px;
}
 .bottom3{
 	font-size: 18px;
	text-align:left;
	padding-left:45px;
 }
 
/*고정된 상단,하단 이동 버튼 지정값*/
#scrollMenu {
	position: fixed;
	top: 530px;
	right: 50%;
	margin-right: -740px;
	width: 3%;
}

/*상단 하단 이미지. 변경 (마우스커서, 색깔)*/
#go_top, #go_bottom{
	cursor:pointer;
 	color: #000;
}

/*리모콘 가로등 이미지*/
.updownImg{				
	width: 60px;				
	height: 60px;	
	cursor: pointer;		
}					

/*공정 거래 위원회 이미지.*/
#same{
	width: 200px;
	height: 60px;
}
/*푸터 가로등 이미지.*/
#footerImg{
	width: 150px;			
	height: 150px;				
}
