@charset "UTF-8";

footer h3{				
	font-size: 25px;			
	font-weight: bold;			
	margin-top: 0px;			
}

footer {
	border-top: 1px solid gray;
	margin: auto;
	margin-top: 20px;
}

footer section {
	width: 32%;
	float: left;
	margin: 5px;
}

.bottom1 {
	font-size: 15px;
}

.bottom2 p {
	font-size: 12px;
}

/*고정된 상단,하단 이동 버튼 지정값*/
#scrollMenu {
	position: fixed;
	top: 530px;
	right: 50%;
	margin-right: -740px;
	width: 5%;
}

/*상단 하단 이미지. 변경 (마우스커서, 색깔)*/
#go_top, #go_bottom{
	cursor:pointer;
 	color: #000;
}

/*리모콘 가로등 이미지*/
#updownImg{				
	width: 50px;				
	height: 50px;			
}					

/*푸터 가로등 이미지.*/
#footerImg{				
	width: 50px;			
	height: 50px;			
}
