@charset "UTF-8";
<!--답글 커서 & 답글 페이지 보이기. -->

#contentArea{
	margin-left:10px;
	width: 800px;
	height: 30px;
}

.showReply{
	display: none;
}

.showReply.active{
	display:revert;
}

.clickReply{
	cusor:pointer;
}
.clickReplyTd{
	display: none;
}

.clickReplyTd.active{
	display:revert;
}

<!-- 상세내용 보이기. -->
.clickOption{
	cursor: pointer;
}
.clickContent{
	 display: none;
}

.clickContent.active{
	 display:revert;
}

#qna_board{
	margin: auto;
}

.qna_table{
	/* border: 1px solid red; */
	margin:auto;
	width: 1000px;
	height:500px;
	margin-bottom: 100px;
	box-sizing: box;
}

.qna_table tr td{
	text-align: center;
	border-bottom: 1px solid gray;
}


.div_pagenation{
	display: inline;
}

div .pagination{
	list-style: none;
}

.pagination li{
	 display: inline;
}

.pagination li a{
	list-style: none;
}