@charset "UTF-8";
<!--답글 커서 & 답글 페이지 보이기. -->
<!-- 등록과 수정 영역-->


.showReply{
	display: none;
}

.showReply.active{
	display:revert;
	
}

.clickReply{
	cusor:pointer;
}
.clickReplyTd{
	display: none;
}

.clickReplyTd.active{
	display:revert;
}

<!-- 상세내용 보이기. -->
.clickOption{
	cursor: pointer;
}
.clickContent{
	 display: none;
}

.clickContent.active{
	 display:revert;
}
<!-- 최상위 영역-->
.topQna{
	margin: auto;
	width: 1600px;
	height: 1200px;
}
.topQna tr td{
	width: 100px;
	height: 10px;
	padding-bottom: 20px;
    padding-top: 20px;
	border-bottom: 1px solid #ccc;
}
#qna_board{
	margin: auto;
}

.qna_table{
	margin:auto;
	width: 1000px;	
	margin-bottom: 100px;
	border-spacing: 0px;
}

.div_pagenation{
	display: inline;
}

div .pagination{
	list-style: none;
	display:inline-block;
}

.pagination li{
	 display:inline;
}

.pagination li a{
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#808080;
	text-decoration:none;
}

pagination .arrow{
	border:1px solid #ccc;
}

pagination .arrow prev {
	background:#f8f8f8 url('/proj21_shop/resources/qna/images/page_prev.jpg') no-repeat center center;
	margin-right:7px;
}

pagination .arrow next {
	background:#f8f8f8 url('/proj21_shop/resources/qna/images/page_prev.jpg') no-repeat center center;
	margin-left:7px;
}