@charset "UTF-8";

h3{
	text-align: center;
	color: #505050;
    font-size: 35px;
}


body {
	display: flex;
	justify-content: center;
}


.asd{
	padding-left: 150px;
	padding-right: 150px;
}

a{	color: black;
	text-decoration:none;
}

a:hover{
	color: orange;
}


table.type11 {
	border-collapse: separate;
	border-spacing: 0;
	text-align: center;
	line-height: 1.5;
	margin: 20px 10px;
}

table.type11 th {
	border-top: 1px solid #e0e0e0;
	width: 155px;
	padding: 10px;
	font-weight: bold;
	background: #f4f4f4;
}

table.type11 td {
	width: 155px;
	padding: 10px;
	background: #ffffff;
}