@charset "UTF-8";
.top {
	font-size: 15px;
	text-align: center;
	margin-bottom: 20px;
}

.top nav {
	border-bottom: 1px solid gray;
}

.top nav ul {
	list-style: none;
}

.top ul li {
	display: inline-block;
	margin: 30px;
}

.top nav ul li a{
	text-decoration:none;
	color: #000;
	cursor: pointer;
	outline: none;
}

.top nav li a:hover {
	color:red;
}