@charset "UTF-8";
/* 옷,옷설명 정렬 */
#ProductLoad{
	display: flex;
	align-items:initial;
	justify-content: center;
}

.productImage img{
	width: 600px;
}

.productInfo{
	margin-top:20px;
	text-align: left;
	margin-left: 100px;
	font-size:20px;
}

.productInfo strong{
	font-size: 40px;
}

.review{
	margin-left: 20px;
}

.productInfo select{
	padding:5px;
	width:300px;
	font-size: 20px;
}


.submitBtns input{
	margin-top:100px;
	width: 160px;
	height: 50px;
	font-size: 20px;
}
#cart{
	background-color: white;
	color: black;
}
#purchase{
	background-color: black;
	color: white;
}

.calculator{
	display: flex;
	align-items: center;
}
.min, .max{
	display:flex;
	width: 40px;
	height: 40px;
	justify-content: center;
    align-items: center;
}
.number{
	width: 34px;
	height: 35px;
}

.productRight{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.cal{
	width: 40px;
	height: 40px;
	align-items: center;
}

