@charset "UTF-8";

.productList{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-between;
	aling-content:center;
}

.productList a{
	text-decoration: none;	
	color: #222;
}

.item{
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.164);
	margin-top: 100px;
}

.item img{
	transition: 0.1s;
	width: 350px;
	height: 400px;
}

/* title */

.title{
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}


/* info */
.info{
	position: relative;	
}

/* size */

.info .size{
	margin-bottom: 10px;
}

.info .size label{
	display: block;
}

.info .size span{
	font-size: 12px;
	background-color: #fff;
	color: #000;
	margin-right: 5px;
	display:inline-flex;
	justify-content:center;
	align-items:center;
	line-height:5px;
	width: 15px;
	height: 15px;
	border-radius: 3px;
	padding: 2px;
	cursor: pointer;
	transition: 0.5s;
}

.info .size span.active,
.info .size span:hover{
	color: #fff;
	background-color:#000; 
}

.add-cart{
	border: 1px solid #fff;
	width: 100%;
	padding: 7px;
	background-color: #fff;
	cursor: pointer;
	margin-top:10px;
}

.add-cart:hover{
	background-color: #000;
	color: #fff;
}

/* 조건검색하는 항목들 */
.prodSearchBtn{
	cursor: pointer;
	text-align: left;
	font-size: 100px;
}
.prodSearchCondition{
	display: none;
	justify-content: space-around;
}

.prodSearchCondition.active{
	display: flex;
	justify-content: space-around;
}

.conditions{
	
	text-align: left;	
}

.conditions ul{
	padding: 0px;		
}

.conditions ul li{
	cursor: pointer;
	list-style: none;
}
/*돋보기 모양*/
.fa-search{
	cursor: pointer;
}

.searchBlank{
	font-size: 200px;
	color: #ccc;
	margin: auto;	
}

.searchPlace{
	display: none;
}

.searchPlace.active{
	display: block;
}