@charset "UTF-8";

.productList{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;	
	justify-content: space-between
}

.productList a{
	text-decoration: none;	
	color: #222;
}

.productList h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

.item{
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 20px rgba(0,0,0,0.164);
}

.item img{
	transition: 0.1s;
	width: 350px;
	height: 400px;
}

.item:hover img{
	filter:blur(0.2px);
}

.detail{
	background-color: #f0f0f0;
	position: absolute;
	width: 100%;
	left: 0;
	bottom:-160px;
	height: 50%;
	transition: 0.5s;	
	
	padding: 0 20px;
	box-sizing: border-box;
}

.item:hover .detail{
	bottom:0;
}

/* title */

.title{
	border-bottom: 1px solid #ddd;
	
	/* 자식요소(.titie h2)가 float속성이 들어가 있으므로 */
	overflow: hidden;
	margin-bottom: 10px;
}

.title h2{
	font-size: 16px;
	color: #888;
	line-height: 1.2em;
	float: left;
}

.title h2 em{
	font-size:20px;
	font-style: normal;
	display: block;
	color: #000;
	margin-bottom: 5px;
}

.title span{
	float: right;
	margin-top: 10px;
	font-size: 20px;
	color: crimson;
}

/* info */
.info{
	position: relative;	
}

/* size */

.info .size{
	margin-bottom: 10px;
}

.color label,
.info .size label{
	display: block;
}

.info .size span{
	font-size: 12px;
	background-color: #fff;
	color: #000;
	margin-right: 5px;
	display:inline-flex;
	justify-content:center;
	align-items:center;
	line-height:15px;
	width: 15px;
	height: 15px;
	border-radius: 3px;
	padding: 2px;
	cursor: pointer;
	transition: 0.5s;
}

.info .size span.active,
.info .size span:hover{
	color: #fff;
	background-color:#000; 
}

/* color */
.color span{
	display:inline-block;
	width: 15px;
	height: 15px;
	
	cursor: pointer;
	margin-right: 5px;
	transition: 0.5s;
}

.color span.active,
.color span:hover{
	border-radius: 50%;
}

.color span:nth-of-type(1){
	background-color: #808080;
}

.color span:nth-of-type(2){
	background-color: #ff0000;
}

.color span:nth-of-type(3){
	background-color: #ffc0cb;
}

.color span:nth-of-type(4){
	background-color: #ffffff;
}

.color span:nth-of-type(5){
	background-color: #00ffff;
}

.add-cart{
	border: 1px solid #fff;
	width: 100%;
	padding: 7px;
	background-color: #fff;
	cursor: pointer;
	margin-top:10px;
}

.add-cart:hover{
	background-color: #000;
	color: #fff;
}

/* like */
.like{
	cursor: pointer;	
}

.like:before{
	content: '\f08a';
	font-family: fontawesome;
	position: absolute;
	right: 0;
	top: 0;
}

.like.active:before{
	content: '\f004';
	color: crimson;
}
