@charset "UTF-8";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
}

h3{
	text-align: center;
	color: #505050;
    font-size: 35px;
}

.container {
	text-align: center;
}

.asd{
	padding-left: 130px;
	padding-right: 130px;
}

a{	
	color: black;
	text-decoration:none;
}

a:hover{
	color: orange;
}
.bringContent{
	background-color: #383838;
    border: 1px solid #888888;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: -1px;
    padding: 3px 5px;
    margin: 2px 3px;
    width: auto;
    word-break: keep-all;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9375em;
}

table.type11 {
	border-collapse: separate;
	border-spacing: 0;
	text-align: center;
	line-height: 1.5;
	margin: 20px 10px;
}

table.type11 th {
	border-top: 1px solid #e0e0e0;
	width: 155px;
	padding: 10px;
	background: #f4f4f4;
}

table.type11 td {
	width: 155px;
	padding: 10px;
	background: #ffffff;
}

#modify{
	color: orange;
}